* text=auto
* eol=lf

.git			    export-ignore
.gitattributes		export-ignore
.gitignore		    export-ignore
vendor			    export-ignore
tools               export-ignore
tests               export-ignore

makefile            export-ignore
phpunit.xml         export-ignore
test.php            export-ignore
UPDATE.md           export-ignore
